#main {
  background-color: #ffffff;
  width: 1280px;
}
.header {
  width: 1280px;
  height: 139px;
}
.logo-phone{
  width: 980px;
  margin: 0 auto;
  padding: 35px 0;
  overflow: hidden;
}
.logo{
  float: left;
  padding: 0;
  margin: 0;
}
.phone{
  float: right;
  padding: 0;
  margin: 0;
}
.phone a {
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  background-position: 0;
  padding-left: 30px;
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  text-decoration: none;
  color: #000000;
  font-family: Arial;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}
.navigation{
  width: 100%;
  background-color: #f1f1f1;
  padding: 16px 0 14px;
  overflow: hidden;

}
.ul-nav{
  width: 980px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.ul-nav li{
  float: left;
  margin-right: 150px;
}
.ul-nav li:last-child{
  margin-right: 0;
}
.ul-nav li a{
  width: 114px;
  height: 14px;
  color: #393939;
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  line-height: 22px;
}
.breadcrumb{
  width: 980px;
  margin: 0 auto;
  padding: 0;
}
.breadcrumb ul{
  list-style: none;
  padding: 20px 0 0;
  margin: 0;
}
.breadcrumb ul li{
  float: left;
  margin-right: 12px;
}
.breadcrumb ul li::after{
  content: '»';
  color: #7c7c7c;
  font-size: 11px;
  margin-left: 7px;
}
.breadcrumb ul li:last-child,
.breadcrumb ul li:last-child a,
.breadcrumb ul li:last-child::after{
  text-decoration: none;
  margin-right: 0;
  content: '';
}
.breadcrumb ul li a{
  width: 41px;
  height: 8px;
  color: #7c7c7c;
  font-family: Tahoma;
  font-size: 11px;
  font-weight: 400;
  line-height: 22px;
}
